/* @import "bourbon"; */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/* colors:  E3D7FF AFA2FF 7A89C2 72788D 636B61 https://coolors.co/e3d7ff-afa2ff-7a89c2-72788d-636b61
"Helvetica Neue",Helvetica,Arial,sans-serif*/
/* body */
body{
  font-family: 'Lato', sans-serif;
}
nav {
  float:left;
  border: 2px solid transparent;
  background-color: transparent;
  box-shadow:none;
  box-sizing: border-box;
  border-radius: 4px 4px 4px 4px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
  text-align: center;
}
nav ul li:first-child a {
  width: 49px;
  padding: 15px 0;
}
nav ul li:last-child {
  margin: 0;
}
nav ul li a {
  display: block;
  background: #72788D; 
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s linear;
}
nav ul li a:hover {
  background-color: #676d80;
}
nav ul li ul {
  box-shadow: 8px 8px 8px -4px #676d80;
  display:none;
  position: absolute;
  overflow: visible;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 240px;
  border-bottom: 4px solid #7A89C2; 
}
nav ul li ul li {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
}
nav ul li ul li ul{
  box-shadow: 8px 8px 8px -4px #676d80;
  display:none;
  position: absolute;
  overflow: visible;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 240px;
  
  border-bottom: 4px solid #7A89C2; 
}
nav ul li ul li ul li{
  display: block;
  width: 100%;
  /* margin-left: 1%; */
  text-align: start;
}
nav ul li ul li ul li a{
  display: block;
  
  background: #3a3a3a;
  padding: 10px 15px;
}
nav ul li ul li a {
  display: block;
  background: #3a3a3a;
  padding: 10px 15px;
}
nav ul li ul li a:first-child {
  background: #3a3a3a;
  width: auto;
  border-left: 4px solid transparent;
  padding: 10px 15px;
  font-size: 14px;
}
nav ul li ul li a:hover {
  background: #333333;
  border-left: 4px solid #7A89C2;
}
nav ul li ul li ul li a:first-child {
  background: #3a3a3a;
  width: auto;
  border-left: 4px solid #7A89C2;
  padding: 10px 15px;
  font-size: 14px;
}
nav ul li ul li ul li a:hover {
  background: #333333;
  border-left: 8px solid #7A89C2;
}
/*top*/
.topp{
    /* height: 70px; */
    height: 70px;
    width: 100%;
    border-bottom: 2px solid gray;
    background-color: #72788D; 
    color: white;
    
}
#logo{
  margin: 8px;
  float:right;
  height: 77%; 
  width: 16%; 

}
#lvl{
  margin-top: 17px;
  float:left;
  margin-left: 1%;
}
#hints{
  margin-top: 10px;
  float:left;
  margin-left: 5%;
}
#title{
  margin-top: 17px;
  float:left;
  margin-left: 15%;

}
/* .menu{
  display:none;
  position: relative;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
} */
/*Leftside*/
.leftside{
  background-color: #fff;
    float: left;
    height: 850px;
    width: 35%;
}
.sprechblase {
    height: 40%;
    margin: 4%;
    position: relative;
    display:none;
    padding: 1rem;
    max-height: 100%;
    color: #fff;
    /* border: 4px solid #72788d; */
    
    /* -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px; */
    /* background: #7A89C2; */
    background: #000;
    background:rgba(0,0,0,0.75);
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica", Helvetica, Arial, Lucida, sans-serif;
    font-weight: normal;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
          border-radius: 4px;
    
  }
    
    .sprechblase:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 75%;
    top: 100%;
    border: 30px solid; 
    /* border-color: #72788d transparent transparent #72788d; */
    border-color: rgba(0,0,0,0.75) transparent transparent transparent;
    }
    
    .sprechblase:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 75%;
    top: 100%;
    border: 30px solid;
    border-color:  transparent transparent transparent transparent ;
    } 
#next_btn{
      /* float: right; */
      margin-right:2%;
      margin-bottom:2%;
      width: 40%;
      background-color: #7A89C2;
      border: 1px solid gray;
      position: absolute;
      right:    0;
      bottom:   0;
}
.animal{
  /* height: 30%; */
  margin-top: 70%;
  margin-left: 10%;
  /* margin-top: -10%; */
  /* margin-top: 55%; */
  /* margin-left: -5%; */
  
}
#insect{
  height: 80%;
  width: 80%;

}
/*rightside*/
.rightside{
    height: 850px;
    /* height: 90%; */
    width: 65%;
    float: right;
    background-color: #fff;
}
/* ####### rightside top */
.rstop{
    /* margin: 20px;
    height: 440px; */
    margin: 2%;
    height: 53%;
    background: #eee !important;
    border: 1px solid #72788D;
}
.wrapper {

    /* margin-top: 60px;
    margin-bottom: 40px; */
    margin-top: 5%;
    margin-bottom: 3%;
  }
table{
  margin-top: 1%;
  max-width: 30%;
  max-height: 170px;
  overflow: auto;
}
th,
td {
  padding: 8px 30px;
  border: 1px solid #ccc;
}
th {
  background: #eee;
}
#suchergenbisse{
  border-spacing: 15px;
  display:none;
} 
.form-signin {
    /* max-width: 350px; */
    max-height: 380px;
    max-width:28%;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
.form-signin .form-signin-heading{
    margin-bottom: 30px;
  }
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
.form-signin .form-control:focus {
    z-index: 1;
  }
.form-signin input[type=text] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
.form-signin input[type=password] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
#login_btn{
  background-color: #7A89C2;
  border: 1px solid gray;
}
#login_btn:hover{
  background-color: rgba(122, 137, 194, 0.9);
}
#logout_btn{
  background-color: #7A89C2;
  border: 1px solid gray;
  display:none;
}
#logout_btn:hover{
  background-color: rgba(122, 137, 194, 0.9);

}
#suchleiste{
  display:none;
}
#url{
  display:none;
}
#sneaker_img{
  /* display:none; */
  /* margin-right: -20%; */
  width:35%;
  height:70%;
  float:left;
  margin-left:20%;
  margin-top:-10%;
  margin-right:5%;
}

#marke,#groesse,#price{
  /* margin-right:20%; */
  /* display:none; */
  /* float:right; */
  /* margin-left: 25%; */
  margin-top:3%;
}
#url_output{
  display:none;
  margin:auto;
  margin-top:2%;
  /* margin: auto;
  width: 100%;
  max-width: 700px; */
  /* text-align: center; */
}
#suche_btn{
  display:none;
  background-color: #7A89C2;
  border: 1px solid gray;
}
/* ####### rightside bottom */
.rsbottom{
    height: 350px;
    margin: 20px;
}
#behindscene_btn{
    margin-left: 15%;
    float: left;
    width: 250px;
    background-color: #72788D;
    border: 1px solid gray;
}
#behindscene_btn:hover{
  background-color: rgba(114, 120, 141, 0.9);

}
#tipp_btn{
    margin-top: 0px;
    float: right;
    margin-right:15%;
    width: 250px;
    background-color: #72788D;
    border: 1px solid gray;
}
#tipp_btn:hover{
  background-color: rgba(114, 120, 141, 0.9);

}
#btn_modal{
  margin-top: 3%;
  margin-left: 25%;
  width: 50%;
  background-color: #72788D;
  border: 1px solid gray;
}
#btn_modal:hover{
  background-color: rgba(114, 120, 141, 0.9);

}
.btnbox{
  background-color: #eeeeee;
  float: left;
  width: 44%;
  height: 270px;
  margin-top: 1%;
  border: 1px solid #72788D;

}
.btnboxtxt{
  margin: 2%;
}
#btnboxli{
  text-align: center;
  display:none;
  /* margin-top: 3%; */
  float: left;
  margin-left:3%;
  position:relative;

}
#codetxt{
  text-align: left;
  display: 'block';
  height: 218px;
}
#codetxt > code {
  height: 200px;
}
#behindcodelogin,#behindcodesearch,#behindcodeurl{
  text-align: left;
  display:none;
  height: 218px;
}
#behindcodelogin > code{
  height: 200px;
  max-width: 100%;
  overflow: auto;
}
#behindcodesearch > code{
  height: 200px;
}
#behindcodeurl > code{
  height: 200px;
}
#btnboxre{
  display:none;
  float: right;
  margin-right: 3%;
  /* width: 44%; */
  /* margin-left:25%; */
}
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #7A89C2;
}

input:focus + .slider {
  box-shadow: 0 0 1px #7A89C2;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 
#info{
  
  height: 35px;
  width: 35px;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  color: black;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}